.rodape {
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    border-top: 1px solid var(--cor-borda);
    margin-top: 60px;
}

.rodape__texto{
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.rodape__citacao{
    font-size: 0.8rem;
    color: var(--cor-secundaria);
}