.skills{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 40px;
}

.skills__titulo{
    grid-column: 1 / -1;
    font-size: 2.5rem;
    font-weight: normal;
    color: var(--cor-primaria);
}

.skills__coluna h3{
    margin-bottom: 30px;;
    font-weight: normal;
    font-size: 1.1rem;
}

.skills__subtitulo__destaque, 
.skills__subtitulo {
    color: var(--cor-primaria);
}

.skills__lista {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills__label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.skills__nome, 
.skills__porcentagem {
    color: var(--cor-primaria);
}

.skill__barra {
    width: 100%;
    height: 12px;
    background-color: rgba(0, 255, 65, 0.05);
    border: 1px solid rgba(0, 255, 65, 0.2);
}

.skill__barra__preenchida {
    height: 100%;
    background-color: var(--cor-primaria);
    box-shadow: 0 0 5px rgba(0, 255, 65, 0.5); 
}

.skills__citacao__container {
    grid-column: 1 / -1;
    margin-top: 30px;
    padding: 25px;
    border: 1px solid var(--cor-primaria);
    text-align: center;
    background: rgba(0, 255, 65, 0.02);
}

.skills__citacao {
    color: var(--cor-primaria);
    font-size: 0.95rem;
}